* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5D7A8C;
}

.content {
    display: flex;
    justify-content: space-between;
}

.user {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #223440;
    border: 1px solid #F2F2F2;
    padding: 20px;
    margin: 30px;
    color: #F2F2F2;
}

.addingForm {
    margin: 30px;
    padding: 30px;
    background-color: #223440;
    border: 1px solid #F2F2F2;

}

.buttons {
    width: 50px;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
